black[jupyter]==25.1.0
jupyter==1.0.0
kagglehub==0.3.10
numpy==2.2.1
openpyxl==3.1.2
pandas==2.2.3
plotly==5.24.1
polars==1.26
pyarrow==18.1.0
scipy==1.14.1
seaborn==0.13.2
scikit-learn==1.6.1
tqdm==4.67.1
xlsx2csv==0.8.4